<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput
     [placeholder]="title"
     [name]="controlName"
     [formControlName]="controlName"/>
    <mat-error *ngIf="validator.hasError(formControl, 'required')">Campo obrigatório.</mat-error>
    <mat-error *ngIf="validator.hasError(formControl, 'minlength')">
      Campo precisa ter no mínimo {{validator.lengthValidator(formControl, 'minlength')}} caracteres.
    </mat-error>
    <mat-error *ngIf="validator.hasError(formControl, 'maxlength')">
      Campo pode ter no máximo {{validator.lengthValidator(formControl, 'maxlength')}} caracteres.
    </mat-error>
  </mat-form-field>
</div>
