<h1 mat-dialog-title>{{warning.title}}</h1>
<div mat-dialog-content>
  <p>{{warning.description}}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button
          [color]="warning.buttonSuccessCollor"
          cdkFocusInitial
          [mat-dialog-close]="true">
    {{warning.buttonSuccess}}
  </button>
  <button mat-raised-button
          [color]="warning.buttonCancelCollor"
          [mat-dialog-close]="false"
          *ngIf="warning.hasCloseButton" >
    {{warning.buttonCancel}}
  </button>
</div>

