<mat-list *ngIf="movie; else noRecords">
  <mat-list-item> Title: {{movie.title}} </mat-list-item>
  <mat-list-item> Release Date: {{movie.releaseDate | date: 'dd/MM/yyyy' }} </mat-list-item>
  <mat-list-item> Genre: {{movie.genre}} </mat-list-item>
  <mat-list-item class="break-line"> Description: {{movie.description}} </mat-list-item>
  <mat-list-item> Rating: <a [href]="movie.urlIMDb" target="_blank"> {{movie.rating}}</a> </mat-list-item>
  <img mat-card-image [src]="movie.urlPhoto || noPhoto" >
</mat-list>
<mat-card>
  <mat-card-actions>
    <button color="accent" mat-raised-button (click)="edit()">Edit</button>
    <button color="warn" mat-raised-button (click)="delete()">Delete</button>
  </mat-card-actions>
</mat-card>

<ng-template #noRecords>
  <h1 class="full-width main-div">No records found!</h1>
</ng-template>
